    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
} 

body {
    background-color: #23232e;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: #000000;
    background-color: mediumslateblue;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.logo {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: black;
}

.logo a:hover {
    color: #fff;
}

.navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: black;
}

.navbar a:hover {
    color: white;
}

#navbar {
    margin: 0 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold       ;
    color: black;
}

#navbar:hover {
    color: white;
}

section {
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.img {
    width: 180vh;
    margin: 8em 8rem;
}   

.title {
    font-size: 5rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;letter-spacing: 0.6rem;
}

.title span {
    color:rgb(55, 170, 243);
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: #23232e;
    gap: 1.5rem ;   
}

.about .row .content {
    padding-top: 10rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #ffffff;
}
.about .row .content P{
    font-size: 1.6rem;
    color: #ffffff;
    padding: 1rem 0;
}

.content span {
    color: rgb(45, 248, 140);
}

.content p{
    text-align: justify;
}

.container-image {
    margin-left: 2rem;
}

.btn {
    background-color: deepskyblue;
    color: #23232e;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: gray;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.button.active {
    background-color: black;
    color: yellow;
}

.nav-catg {
    justify-content: center;
    letter-spacing: 6px;

}

.fim-list {
    justify-content: center;
}